@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
/*
@media only screen and (min-width: 600px){

    .game-container {
        width: 500px;
        height: 730px;
        position: absolute;
    }

    .control-panel {
        bottom: 0;
        position: absolute;
    }

    .sky {
        background-color: lightblue;
        width: 700px;
        height: 580px;
        position: absolute;
    }

    .ground {
        background-color: rgba(100,100,100,0.5);
        width: 700px;
        height: 150px;
        position: absolute;
        top: 580px;
    }

    .bird {
        width: 45px;
        height: 45px;
        left: 220px;
        position: absolute;
    }

    .playground {
        height: 580px;
        width: 2100px;
        position: absolute;
    }

    .obstacle {
        width: 50px;
        height: 580px;
        position: absolute;
    }

    .backimg {
        width: 350px;
        height: 290px;
        margin-left: 175px;
        margin-top: 145px;
    }

    .topPipe {
        width: 50px;
        background-color: green;
        position: absolute;
    }

    .botPipe {
        width: 50px;
        background-color: green;
        position: absolute;
    }
}
@media only screen and (max-width: 600px){
    .game-container {
        width: 250px;
        height: 365px;
        position: absolute;
    }

    .control-panel {
        bottom: 0;
        position: absolute;
    }

    .sky {
        background-color: lightblue;
        width: 350px;
        height: 290px;
        position: absolute;
    }

    .ground {
        background-color: rgba(100,100,100,0.5);
        width: 350px;
        height: 75px;
        position: absolute;
        top: 290px;
    }

    .bird {
        width: 45px;
        height: 45px;
        left: 110px;
        position: absolute;
    }

    .playground {
        height: 290px;
        width: 2100px;
        position: absolute;
    }

    .obstacle {
        width: 25px;
        height: 290px;
        position: absolute;
    }

    .backimg {
        width: 175px;
        height: 145px;
        margin-left: 87px;
        margin-top: 73px;
    }

    .topPipe {
        width: 25px;
        background-color: green;
        position: absolute;
    }

    .botPipe {
        width: 25px;
        background-color: green;
        position: absolute;
    }
}*/

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
